@import "tailwindcss";

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

/*Scroll Bar*/

html {
  scrollbar-width: thin;
  scrollbar-color: #0094B3 #ffffff; /* thumb color and track color */
}

body::-webkit-scrollbar {
  width: 4px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #2D3748; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #0094B3;   /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 2px solid #2D3748;  /* creates padding around scroll thumb */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #63B3ED; /* color of the scroll thumb on hover */
}

/*Wrapper that encompasses both sidebar and mainview*/
.wrapper {
    display: grid;
    grid-template-areas:
    "sheader mheader"
    "sidebar mainview"
    "sfooter mfooter";
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    transition: grid-template-columns 0.3s ease-in-out;
}

.wrapper.collapsed {
    grid-template-columns: 80px 1fr;
}

.wrapper aside.sidebar {
    grid-area: sidebar;
    background-color: #212227;
}

.wrapper main.mainview {
    grid-area: mainview;
    overflow-y: auto;
    height: 100%;
    background-color: #F8F9FA;
}

/*Sidebar CSS*/
.sidebar path{
    fill: white;
}

.sidebar nav{
  position: relative;
  width: 100%;
  height: 58px;
  margin-bottom: 12px;
  background-color: #0094B3;
}

.company-logo,.toggle-sidebar{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.company-logo {
  left: 22px;
  opacity: 100;
  transition: opacity 0.6s ease;
}

.company-logo.collapsed {
  transition: opacity 0.2s ease;
  opacity: 0;
}

.toggle-sidebar{
  padding: 7px;
  right: 20px;
  border-radius: 5px;
  background-color: rgba(64, 66, 75,0);
  transition: background-color 0.3s ease;
}

.toggle-sidebar:hover{
  background-color: rgba(0, 0, 0, 0.4);
}


/*SIDEBAR LIST------------*/

.sidebar li{
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 15px;
  padding-left: 30px;

  /* interaction base */
  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease,
    background-color 0.15s ease;

  position: relative;
  z-index: 0;
  color: white;
}

.sidebar li:not(:last-child) {
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.25),
    transparent
  ) 1;
}

.sidebar li:hover {
  background-color: rgba(255, 255, 255, 0.04);
  transform: scale(1.05);
  box-shadow: 0 8px 14px rgba(0, 0, 0, 0.25);
  z-index: 10;
  cursor: pointer;
  border-bottom: none;
  color: #5DB3D3;
}

.sidebar-list {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sidebar-list label{
  cursor:pointer;
  white-space: nowrap;
  overflow: hidden;
  opacity: 100;
  transition: 
    opacity 0.2s ease;
}

.sidebar-list.collapsed label{
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;

}

/*Mainview CSS*/
.mainview {
    overflow-y: auto;
}

.mainview nav {
    position: sticky;
    padding: 10px;
    top: 0;
    z-index:1000;
    background-color: #ffffff;
}

.section{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  height: 90%;
  width: 90%;
  background: #fff;
  border-radius: 20px;
  overflow:hidden;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

/*SECTION 1 -  Announcements CSS*/
.announcement-box{
  display:grid;
  grid-template-rows: auto 1fr auto;
  border-radius: 20px 20px 0 0;
}

.announcement-box .header{
color:white;
font-size: 1.8em;
background-color: #0094B3;
padding:5px;
padding-left: 15px;
}

.announcement-box .content{
  display: grid;
  grid-auto-rows: min-content;
  overflow-y: auto;
  min-height: 0;
}

.announcement-box .content .announcement{
  padding-left:10px;
  background-color: #F5F5FA;
}
.announcement-box .content .announcement:nth-child(even) {
  background-color: #e9e9f3;
}

.announcement-box .content .announcement:not(:last-child) {
  border-bottom: 1px solid rgba(14, 14, 14, 0.3);
}

.announcement-box .footer{
display:flex;
justify-content: flex-end;
padding: 5px;
padding-right: 20px;

color:white;
background-color: #0094B3;
}

.announcement-box .footer button{
  border: 1px solid #08062A;
  padding:2px 8px;
}

.announcement-box .footer button:hover{
  background-color: #08062a75;
}

/*SECTION 3 - Quick Links CSS*/

.sec-qlinks{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  justify-content: center;
  max-width: 1300px;
  height: 500px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.card{
  background: #fff;
  border-radius: 12px;
  padding: 1.5rem;
  border-color: rgba(93, 179, 211,0);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.20s ease, border-color 0.3s ease;
}

.card:hover{
  cursor: pointer;
  border-style: solid;
  border-color: rgba(93, 179, 211,1);
  transform: scale(1.02);
  transition: transform 0.20s ease,border-color 0.3s ease;
}


/*SECTION 2 - Quick Links CSS*/
/*
.tabs{
    overflow: hidden;

}

.tabs button {
  background-color: #e1e1e1;
  float: left;
  border: 1px solid #ccc;
  border-bottom: none;
  outline: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 10px 10px 0 0;
  margin-right: 5px;
  position: relative;
  top: 1px;
}

.tabs button:hover {
  background-color: #d1d1d1;
}

.tabs button.active {
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

.tab-content {
  display: none;
  padding: 20px;
  border-top: none;
  background-color: #fff;
}
*/